# Dependency files
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
# emacs
*~
# others
*.dat
*.json
core
su2
su2hmc
build/

# non-text files from the documentation
docu/*.pdf
docu/fermions/*.pdf
docu/fermions/*.dvi

# external libraries directory
external/
#external/yaml-cpp

