# Dependency files
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
# emacs
*~
# others
*.dat
*.json
core
su2
su2hmc

# non-text files from the documentation
*.Rhistory
*.html
*.pdf
.vscode/*

# build directories
build*