# Input file example for the u1-hmc program

# general parameters

geometry:
  X : 4
  Y : 4
  Z : 1
  T : 4
  ndims : 4

action:
  beta :  1.9
  mass: 0.1

#hmc parameters
hmc:
  nsave: 1
  nmeas: 10
  counter: 0
  seed: 93746
  heat: 1
  configname: ""
  N_rev: 1
  n_steps: 3
  #tau: 1.
  exponent: 0
  integs: 0
  no_fermions: true
  solver: 0 
  tolerance_cg: 1e-10
  solver_verbosity : 0
  seed_pf: 22346363
  outdir: "./"

