# measure.input

geometry:
  X: 4
  Y: 4
  Z: 1
  T: 4
  ndims: 3

begin_monomials:
  gauge:
    beta: 1.9

begin_measurements:
  confdir: "./"
  nmeas: 3
  nstep: 1
  gradient:
    tmax : 1.0
  Wloop: true
