# Input file example for the u1-hmc program

geometry:
  X : 4
  Y : 4
  Z : 4
  T : 4
  ndims : 4

# hmc parameters
hmc:
  seed: 93746
  n_save: 1
  n_meas: 10
  heat: true
  counter: 0
  configname: ""
  outdir: "./c1/"

integrator:
  name: leapfrog
  N_rev: 3
  n_steps: 50
  tau: 1.0
  exponent: 0

operators: 
  staggered:
    mass: 0.1

monomials:
  gauge:
    beta: 1.9
  staggered_det_DDdag:
    tolerance_cg: 1e-10
    solver_verbosity : 0
    seed_pf: 22346363
    solver: CG




