# measure.input

geometry:
  X: 4
  Y: 4
  Z: 1
  T: 4
  ndims: 3

monomials:
  gauge:
    beta: 1.9
    anisotropic:
      xi : 1.0

measurements:
  confdir: "./c1/"
  icounter: 3
  n_meas: 6
  nstep: 1
  gradient:
    tmax : 1.0
  Wloop: true
  potential:
    potentialsmall : false
    append : false
    n_apesmear : 0
    alpha : 1.0
    smear_spatial_only : true
    sizeWloops : 0.5
