# metropolis.input

geometry:
  X: 4
  Y: 4
  Z: 1
  T: 4
  ndims: 3

begin_monomials:
  gauge:
    beta: 1.9
    xi : 1.0
    anisotropic : false

begin_metropolis:
  confdir: "./c1/"
  n_meas: 10
  N_save: 2
  N_hit: 10
  delta: 0.5
  heat: 1
  restart: false
  
